body {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  line-height: 4rem !important;
}

h1 {
  font-size: 5.0vh !important;
}
h2 {
  font-size: 4.0vh !important;
}

hr {
  margin: 0;
}

::-moz-selection {
  color: #FFFFFF;
  background: #2A3A3F;
}

::selection {
  color: #FFFFFF;
  background: #2A3A3F;
}

a:hover {
  text-decoration: none;
}

.profile-img {
  height: 200px;
  width: auto;
  margin: auto;
  border: 2px solid #FFFFFF;
}

.home-container {
  text-align: center;
  padding-top: 20px;
}

.about-container {
  padding: 20px;
}

.about-text {
  font-size:1.8rem;
}

.links a {
  margin: 0 1rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: #2e2e2e !important;
}
